<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Secretos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div class="eliminarTodos" *ngIf="secretos.length > 0">
      <ion-item (click)="deleteSecretoAll()" class="trash">
        <ion-icon class="icon trash" name="trash-outline"></ion-icon>Eliminar todo
      </ion-item> 
    </div>
    <div *ngFor="let secreto of secretos">
      <ion-item>
        <ion-avatar class="avatar" slot="start">
          <ion-label>{{secreto.id}}</ion-label>
        </ion-avatar>
        <ion-label>
          <h2>{{secreto.nombre}}</h2>
        </ion-label>
        <ion-item slot="end">
          <ion-icon class="icon" name="eye-outline" [routerLink]="['detalle-secreto',secreto.id]"></ion-icon>
          <ion-icon class="icon trash" (click)="deleteSecreto(secreto.id)" name="trash-outline"></ion-icon>
        </ion-item> 
      </ion-item>
    </div>
  </ion-list>
  <ion-label *ngIf="!loanding && secretos.length === 0">
    <h2 style="text-align: center;">No hay secretos registrados</h2>
  </ion-label>
</ion-content>
