.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #4854e0;
}

.icon{
    margin-left: 0.6em;
}

.trash:hover{
    color: red;
}

.eliminarTodos{
    display: flex;
    justify-content: end;
}

