<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar Secretos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Agregar Secreto</ion-card-title>
    </ion-card-header>
    <ion-card-content [formGroup]="form">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Fecha</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" formControlName="fecha"  placeholder="Selecionar fecha"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea  formControlName="descripcion"></ion-textarea>
      </ion-item>
      <ion-button 
        type="button" 
        (click)="getPicture()" 
        expand="block" 
        color="tertiary">Foto</ion-button>
      <ion-button 
        type="button" 
        *ngIf="!isGrabandoAudio" 
        (click)="grabarAudio()" 
        expand="block" 
        color="tertiary">Grabar audio</ion-button>
      <ion-button 
        type="button" 
        *ngIf="isGrabandoAudio" 
        (click)="detenerAudio()" 
        expand="block" 
        color="tertiary">Detener audio</ion-button>
      <ion-button 
        (click)="onSubmit()" 
        expand="block" 
        color="tertiary" 
        [disabled]="form.invalid || isGrabandoAudio || isAgregandoImagen">Agregar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
